body{
  background-color: beige;
  border: 1px solid grey;

  margin: 2rem;
  
  width: 700px;
   
}

img{
  width: 180px;
  height: 180px;
  object-fit: cover;
  
  border-radius: 50%;

  padding-top: 0.5rem;
  
}
